html , body{
  /* font-family: "Quicksand", Arial, sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
}
.color1{
  color: #b30f16;
}
.bgcolor1{
  background: #b30f16;
}

/*Index Page*/
.main-bg{
  /* background: #ff0000; */
  background: url(../images/site-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcometext{
  display: none;
  position: fixed;
  top: 165px;
  left: -225px;
  width: 100%;
  text-align: center;
}
.main-wrap h2{
  display: none;
  font-weight: 200  !important;
  font-size: 2.5em  !important;
}

.index-wrap{
  display: none;
  position: fixed;
  left: 0px;
  bottom: 50px;
  width: 100%;
  text-align: center;
}
.index-wrap h1{
  display: none;
  font-size: 1.1em !important;
  font-weight: 500 !important;
  color:#fff;
  margin-bottom: 12px;
}
.index-wrap img{
  display: none;
  width: 65%;
}

@media screen and (max-width: 768px) {
  .main-bg{
    background: url(../images/sitebg-mobile.jpg) no-repeat center center fixed; 
    width: 100%;
  }
  .welcometext{
    display: block;
    position: inherit;
    top: 01px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .main-wrap h2{
    display: block;
    font-weight: 200  !important;
    font-size: 2em  !important;
  }
  .index-wrap{
    display: block;
    margin-top: 100px;
  }
  .index-wrap{
    display: block;
    position: inherit;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  .index-wrap h1{
    display: block;
    font-size: 1.1em !important;
    font-weight: 500 !important;
    color:#fff;
    margin-bottom: 12px;
  }
  .index-wrap img{
    display: inline-block;
    width: 50%;
  }
  .index-wrap .animate-box{
    margin-bottom: 50px;
  }
 }
 @media screen and (max-width: 1200px) {
  
}

.owl-carousel.home-slider{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b54cb3+0,c40c4c+27,f4d45d+48,b7df89+72,0473a1+100 */
  background: #b54cb3; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #b54cb3 0%, #c40c4c 27%, #f4d45d 48%, #b7df89 72%, #0473a1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #b54cb3 0%,#c40c4c 27%,#f4d45d 48%,#b7df89 72%,#0473a1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #b54cb3 0%,#c40c4c 27%,#f4d45d 48%,#b7df89 72%,#0473a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b54cb3', endColorstr='#0473a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* .main-wrap {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1000px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  z-index: 1;
} */
.index-wrap h1{
  font-size: 1.1em;
  font-weight: 400;
  color:#fff;
  margin-bottom: 20px;
  margin-top: 5px;
}
.index-wrap p{
  font-weight: 500;
  color: #cccccc;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.main-wrap h2{
  font-weight: 200;
  font-size: 2.3em;
}
.loginbodybg {
  padding: 20px;
  background: #ddd;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #ccc;
}
.main-btnwrap{
  position:absolute;
  bottom: 0;
  width: 100%;
}
.main-btnwrap .btn-light{
  border:1px solid #d2d2d2;
  cursor: pointer;
}
/*Index Page*/

/*Home Page*/
.header{
  position: fixed;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  height: 75px;
  top:  0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.header .logotext{
  font-weight: 300;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f0f0f0;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 35px;
}
.copytext{
  font-weight: 500;
  font-size: 12px;
}
.content{
  margin-top: 75px;
}
.content-scroll{
  height: 100%;
  overflow: hidden;
}
.gradentbg1{
  background-image: -moz-linear-gradient(top, rgba(255, 8, 68, 0.90) 0%, rgba(255, 177, 153, 0.90) 100%), url('../images/home-accounting.jpg');
  background-image: -webkit-linear-gradient(top, rgba(255, 8, 68, 0.90) 0%,rgba(255, 177, 153, 0.90) 100%), url('../images/home-accounting.jpg');
  background-image:linear-gradient(to bottom, rgba(255, 8, 68, 0.90), rgba(255, 177, 153, 0.90)), url('../images/home-accounting.jpg');
}
.gradentbg1a{
  background: #fff;
  background: -moz-linear-gradient(top,  #eb3349   0%, #dd2476 100%);
  background: -webkit-linear-gradient(top,  #eb3349   0%,#dd2476 100%);
  background: linear-gradient(to bottom,  #eb3349   0%,#dd2476  100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe1e1', endColorstr='#ff0000',GradientType=0 );
}
.gradentbg2{
  background-image: -moz-linear-gradient(top, rgba(23, 234, 217, 0.90) 0%, rgba(96, 120, 234, 0.90) 100%), url('../images/home-it.png');
  background-image: -webkit-linear-gradient(top, rgba(23, 234, 217, 0.90) 0%, rgba(96, 120, 234, 0.90) 100%), url('../images/home-it.png');
  background-image:linear-gradient(to bottom, rgba(23, 234, 217, 0.90), rgba(96, 120, 234, 0.90)), url('../images/home-it.png');
}
.gradentbg2a{
  background: #17ead9;
  background: -moz-linear-gradient(top,  #17ead9 0%, #6078ea 100%);
  background: -webkit-linear-gradient(top,  #17ead9 0%,#6078ea 100%);
  background: linear-gradient(to bottom,  #17ead9 0%,#6078ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ead9', endColorstr='#6078ea',GradientType=0 );
}
.gradentbg3{
  background-image: -moz-linear-gradient(top, rgba(245, 78, 162, 0.90) 0%, rgba(255, 118, 118, 0.90) 100%), url('../images/home-repair1.jpg');
  background-image: -webkit-linear-gradient(top, rgba(255, 78, 162, 0.90) 0%,rgba(255, 118, 118, 0.90) 100%), url('../images/home-repair1.jpg');
  background-image:linear-gradient(to bottom, rgba(255, 78, 162, 0.90), rgba(255, 118, 118, 0.90)), url('../images/home-repair1.jpg');
}
.gradentbg3a{
  background: #f54ea2;
  background: -moz-linear-gradient(top,  #f54ea2 0%, #ff7676 100%);
  background: -webkit-linear-gradient(top,  #f54ea2 0%,#ff7676 100%);
  background: linear-gradient(to bottom,  #f54ea2 0%,#ff7676 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54ea2', endColorstr='#ff7676',GradientType=0 );
}

.gradentbg4{
  background-image: -moz-linear-gradient(top, rgba(66, 230, 149, 0.90) 0%, rgba(59, 178, 184, 0.90) 100%), url('../images/home-travel.jpg');
  background-image: -webkit-linear-gradient(top, rgba(66, 230, 149, 0.90) 0%,rgba(59, 178, 184, 0.90) 100%), url('../images/home-travel.jpg');
  background-image:linear-gradient(to bottom, rgba(66, 230, 149, 0.90), rgba(59, 178, 184, 0.90)), url('../images/home-travel.jpg');
}
.gradentbg4a{
  background: #539cfb;
  background: -moz-linear-gradient(top,  #539cfb 0%, #0000ff 100%);
  background: -webkit-linear-gradient(top,  #539cfb 0%,#0000ff 100%);
  background: linear-gradient(to bottom,  #539cfb 0%,#0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#539cfb', endColorstr='#0000ff',GradientType=0 );
}
.accountcolor{
  color:#ff0000 !important;
}
.itcolor{
  color:#6078ea !important;
}
.repaircolor{
  color:#f54ea2 !important;
}
.travelcolor{
  color:#0000ff !important;
}
.gradentbg-gray{
  background: #EDEAE6 ;
  background: -moz-linear-gradient(top,  #EDEAE6  0%, #C6C2C3  100%);
  background: -webkit-linear-gradient(top,  #EDEAE6  0%,#C6C2C3  100%);
  background: linear-gradient(to bottom,  #EDEAE6  0%,#C6C2C3  100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEAE6 ', endColorstr='#C6C2C3 ',GradientType=0 );
}

.home-maintext{
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*Home Page*/

/* .gradentbg2{
  background: #17ead9;
  background: -moz-linear-gradient(top,  #17ead9 0%, #6078ea 100%);
  background: -webkit-linear-gradient(top,  #17ead9 0%,#6078ea 100%);
  background: linear-gradient(to bottom,  #17ead9 0%,#6078ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ead9', endColorstr='#6078ea',GradientType=0 );
}
.gradentbg3{
  background: #f54ea2;
  background: -moz-linear-gradient(top,  #f54ea2 0%, #ff7676 100%);
  background: -webkit-linear-gradient(top,  #f54ea2 0%,#ff7676 100%);
  background: linear-gradient(to bottom,  #f54ea2 0%,#ff7676 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54ea2', endColorstr='#ff7676',GradientType=0 );
}
.gradentbg4{
  background: #42e695;
  background: -moz-linear-gradient(top,  #42e695 1%, #3bb2b8 100%);
  background: -webkit-linear-gradient(top,  #42e695 1%,#3bb2b8 100%);
  background: linear-gradient(to bottom,  #42e695 1%,#3bb2b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42e695', endColorstr='#3bb2b8',GradientType=0 );
} */
.handcursor{
  cursor: pointer;
}
.whitecolor{
  color:#ffffff;
}
.graycolor{
  color:#666;
}
small{
  font-size: 100%;
}
.default-fontsize{
  font-size: 16px;
  color:#333;
}
.pointsicon{
  color:#e2e2e2;
  font-size: 14px;
  margin-right: 10px;
}
.subfonth3 h3 {
  font-size: 2.5em;
  line-height:50px;
  letter-spacing: 0px;
  font-weight: 400; 
}
.bottom-em3{
  margin-bottom: 3em;
}
.backarrowmargin{
  margin-right: 10px;
}
.homeicon{
  position:absolute;
  top:-5px;
  right: 5px;
  font-size: 25px;
}
.homeicon-left{
  position:absolute;
  top:-5px;
  left: 5px;
  font-size: 25px;
}
.thaiicon img{
  position:absolute;
  top:7px;
  right: 5px;
  width: 24px;
  height: 24px;
}
.getintouchul ul{
  list-style-type: none;
  padding-left: 0px;
}
.getintouchul ul li a{
  font-size: 16px;
  font-weight: 500;
  color: #666;
}
.getintouchul ul li a:hover{
  color: #ff0000;
}
.thailan .btn{
  font-size: 16px !important;
  font-weight: 600;
}
.thailan .btn-danger {
  background: #ff0000;
  color: #fff;
  border: 2px solid #ff0000 ;
}
.thailan .btn-danger:hover {
  border-color: #ff0000 ;
  background: #ff6b6b;
}

/*useful menu*/
.usefulmenu nav {
  margin: auto;
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.usefulmenu nav h2 {
  border-radius: 1px;
  position: relative;
  /* background: #fff;
  height: 35px; */
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  font-size:13px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  margin-bottom: 5px;
}

.usefulmenu input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 20px;
}

.usefulmenu #toggle:checked ~ul {
  height: 0%;
}

.usefulmenu nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 10px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
  
}
.usefulmenu nav ul li {
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: -2px;
  /* border:1px solid #fff; */
  padding:3px 7px;
  /* background: #e2e2e2; */
  transition: background 3s;
}

.usefulmenu nav ul li:hover {
  /* background: #ccc; */
  transition: background .45s;
  
}

.usefulmenu nav ul a {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s;
  text-align: center;
}
.usefulmenu nav ul a:hover{
  color: #fff !important;
  text-decoration: underline;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
}
/*useful menu*/

/*Line Chat*/
.line-icon{
	position: fixed;
	bottom: 10px;
	right: 100px;
}
.line-sidenav {
	height: 420px;
	width: 0;
	position: fixed;
	z-index: 1;
	bottom: 25px;
	right: 25px;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 9999;
  }
  
  .line-sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.3s;
  }
  
  .line-sidenav a:hover {
	color: #f1f1f1;
  }
  
  .line-sidenav .closebtn {
	position: absolute;
	top: 0px;
    right: 0px;;
	margin-left: 50px;
	z-index: 999999;
  }

  .line-sidenav .qr-img{
	  border:1px solid #ccc;
	  margin-top: 25px;
	  margin-bottom: 25px;
  }
  
  @media screen and (max-height: 450px) {
	.line-sidenav {padding-top: 15px;}
	.line-sidenav a {font-size: 18px;}
  }
/*Line Chat*/
.colorlib-footer p{
  margin-bottom: 10px !important;
}
.colorlib-footer small{
  font-size: 15px;
  font-weight: 500;
}
#get-in-touch h2{
  font-size: 25px !important;
  font-weight: 500;
}
#get-in-touch {
  padding: 1em 0em 0em 0em;
}
.colorlib-bg-color {
  background: #f4f4f4;
  border-top: 1px solid #e2e2e2;
  position: relative;
}
#colorlib-aside {
  padding-top: 2.5em;
  padding-bottom: 15px;
  padding-left: 1em;
  padding-right: 1em;
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1001;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#colorlib-aside #colorlib-main-menu ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0px;
}
#colorlib-aside #colorlib-main-menu ul li a:after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #fff;
}
.bb4logos .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 25px 0px 25px;
  margin-bottom: 2em;
  margin-top: 1em;
}
.logo h4{
  margin-bottom: 0px;
  font-weight: 700;
  color: #ff0000;
  font-size: 1.3em;
}
.logo span{
  margin-bottom: 0px;
  color: #777777;
  font-size: 14px;
}
.drop-shadow {
  float:right;
}
.drop-shadow img {
  filter:drop-shadow(0px 0px 5px rgba(0,0,0,0.3));
}
#colorlib-hero .flexslider {
    z-index: 0 !important;
}